# Question
Write a program which take institute name, student name, semester, 9 subjects, total marks and obtained marks then print Marks Sheet

## Solution:-

In [1]:
import pandas as pd

In [2]:
student_information = []
institute = input("Enter institute's name : ").upper()
student_information.append(institute)
name = input("Enter student's name : ").title()
student_information.append(name)
department = input("Enter student's department : ").title()
student_information.append(department)
semester = input("Enter semester of the student : ").lower()
student_information.append(semester)
student = pd.DataFrame(student_information,index=["Institute","Name","Department","Semester"])
student.columns=["Student Information"]
student

           Student Information
Institute                  UOL
Name                Qais Akram
Department         Engineering
Semester                   1st

In [3]:
subjects = []
for i in range(9):
    subject = input(f"Enter subject {i+1}").title()
    subjects.append(subject)

In [4]:
total_marks_list = []
obtained_marks_list = []
percentage_list = []
gpa_list = []
grade_list = []
for i in subjects:
    total_marks = float(input(f"Enter total marks of ** {i} ** : "))
    total_marks_list.append(total_marks)
    obtained_marks = float(input(f"Enter obtained marks in ** {i} ** : "))
    obtained_marks_list.append(obtained_marks)
    percentage = round((obtained_marks/total_marks)*100,2) 
    percentage_list.append(percentage)
    if percentage < 50:
        gpa_list.append("0.00")
        grade_list.append("F")
    elif percentage < 55:
        gpa_list.append("1.00")
        grade_list.append("D")
    elif percentage < 60:
        gpa_list.append("1.50")
        grade_list.append("D+")
    elif percentage < 65:
        gpa_list.append("2.00")
        grade_list.append("C")
    elif percentage < 70:
        gpa_list.append("2.50")
        grade_list.append("C+")
    elif percentage < 75:
        gpa_list.append("3.00")
        grade_list.append("B")
    elif percentage < 80:
        gpa_list.append("3.50")
        grade_list.append("B+")
    elif percentage < 85:
        gpa_list.append("3.75")
        grade_list.append("A-")
    else:
        gpa_list.append("4.00")
        grade_list.append("A")

In [5]:
data = [total_marks_list,obtained_marks_list,percentage_list,gpa_list,grade_list]
data = list(map(list, zip(*data)))
detailed_result_card = pd.DataFrame(data,index=subjects)
detailed_result_card.columns=[["Total Marks","Obtained Marks","Percentage","GPA","Grade"]]
detailed_result_card

                          Total Marks Obtained Marks Percentage   GPA Grade
Engineering Ecnomics            100.0           44.0       44.0  0.00     F
Introduction To Computing       100.0           87.0       87.0  4.00     A
Social Science                  100.0           71.0       71.0  3.00     B
Applied Calculas                100.0           82.0       82.0  3.75    A-
Digital Signal Processing       100.0           79.0       79.0  3.50    B+
Circuits And Systems            100.0           53.0       53.0  1.00     D
Power System Protection         100.0           56.0       56.0  1.50    D+
Insulation Co-Ordination        100.0           64.0       64.0  2.00     C
Machine Learning                100.0           68.0       68.0  2.50    C+

In [6]:
composite_Marks = sum(total_marks_list)
composite_obtained_marks = sum(obtained_marks_list)
composite_percentage = round((composite_obtained_marks/composite_Marks)*100,2)
composite_gpa = ""
composite_grade = ""
if composite_percentage < 50:
    composite_gpa ="0.00"
    composite_grade = "F"
elif composite_percentage < 55:
    composite_gpa ="1.00"
    composite_grade = "D"
elif composite_percentage < 60:
    composite_gpa ="1.50"
    composite_grade = "D+"
elif composite_percentage < 65:
    composite_gpa ="2.00"
    composite_grade = "C"
elif composite_percentage < 70:
    composite_gpa ="2.50"
    composite_grade = "C+"
elif composite_percentage < 75:
    composite_gpa ="3.00"
    composite_grade = "B"
elif composite_percentage < 80:
    composite_gpa ="3.50"
    composite_grade = "B+"
elif composite_percentage < 85:
    composite_gpa ="3.75"
    composite_grade = "A-"
else:
    composite_gpa ="4.00"
    composite_grade = "A"
overall_R = [composite_Marks,composite_obtained_marks,composite_percentage,composite_gpa,composite_grade]
overall_result = pd.DataFrame(overall_R,index=["Total Marks","Obtained Marks","Percentage","S-GPA","Grade"])
overall_result.columns=["Over All Result"]
overall_result

               Over All Result
Total Marks              900.0
Obtained Marks           604.0
Percentage               67.11
S-GPA                     2.50
Grade                       C+

### Summary

In [7]:
student

           Student Information
Institute                  UOL
Name                Qais Akram
Department         Engineering
Semester                   1st

In [8]:
detailed_result_card

                          Total Marks Obtained Marks Percentage   GPA Grade
Engineering Ecnomics            100.0           44.0       44.0  0.00     F
Introduction To Computing       100.0           87.0       87.0  4.00     A
Social Science                  100.0           71.0       71.0  3.00     B
Applied Calculas                100.0           82.0       82.0  3.75    A-
Digital Signal Processing       100.0           79.0       79.0  3.50    B+
Circuits And Systems            100.0           53.0       53.0  1.00     D
Power System Protection         100.0           56.0       56.0  1.50    D+
Insulation Co-Ordination        100.0           64.0       64.0  2.00     C
Machine Learning                100.0           68.0       68.0  2.50    C+

In [9]:
overall_result

               Over All Result
Total Marks              900.0
Obtained Marks           604.0
Percentage               67.11
S-GPA                     2.50
Grade                       C+